@model ShopGiayOnline.Models.Product

@{
    ViewBag.Title = Model.product_name;
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@section addcss{
    <link rel="stylesheet" href="~/wwwroot/css/custom/product-detaill.css" />
}

@{ Html.RenderAction("_BreadcrumbLevelTwo", "Base", new { id = ViewContext.RouteData.Values["id"].ToString() }); }




<div class="single-product-area section-space-top-100" style="margin-bottom:50px">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="single-product-img h-100">
                    <div class="swiper-container single-product-slider">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                              
                                 <img class="img-full img-"
                                         src="@Url.Content("~/wwwroot/product/images/" + @Model.product_image)"
                                         alt="Product Image" style="width: 100%; max-height: 450px; margin: 0 auto; display: block; ">
                                  
                                
                            </div>

                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="product-thumb-with-content row">
                    <div class="col-12 order-lg-1 order-2 pt-10 pt-lg-0">
                        <div class="single-product-content">
                            <h2 class="title pb-2">@Model.product_name</h2>





                            <div class="price-box pb-1">
                                Giá:<span class="new-price text-danger" style=" color: #f26570 !important;"> @string.Format("{0:#,##}", Model.product_price) vnđ</span>
                            </div>

                            <div class="product-category product-tags text-matterhorn pb-1">
                                <span class="title"><b>Tình trạng:</b></span>
                                <ul>
                                    @if (Model.product_amount > 0)
                                    {
                                        <li style="background: #f15b67; padding: 0px 10px; border-radius: 5px; color: #fff;">
                                            <a>Còn hàng</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li style="background: #f15b67; padding: 0px 10px; border-radius: 5px; color: #fff;">
                                            <a>Hết hàng</a>
                                        </li>
                                    }

                                </ul>
                            </div>



                            <div class="product-category text-matterhorn pb-2 pt-2">
                                <span class="title"><b>Loại mũi và chất liệu:</b></span>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">
                                            @Model.product_type
                                        </a>
                                    </li>

                                </ul>
                            </div>

                            <div class="product-category text-matterhorn pb-2 pt-2">
                                <span class="title"><b>Kiểu gót và độ cao gót:</b></span>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">
                                            @Model.product_height
                                        </a>
                                    </li>

                                </ul>
                            </div>

                            <div class="product-category text-matterhorn pb-2 pt-2">
                                <span class="title"><b>Phù hợp sử dụng:</b></span>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">
                                            @Model.product_description
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="product-category product-tags text-matterhorn pb-4">
                                <ul>
                                    <span class="title"><b>Danh mục:</b></span>
                                    <li style="color: #f15e6a; padding: 0px 10px; background: #fff; border: 1px solid; border-radius: 5px; font-weight: 600;">
                                        <a>Danh mục</a>
                                    </li>

                                </ul>
                            </div>



                            <ul class="quantity-with-btn pb-7">
                                <button class="product-add btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" style="background: #f15b67; border-radius: 10px !important; border: 2px solid #fff;" onclick="addToCart(@Model.product_id, @Model.product_amount)" title="Add to Cart">
                                    <i class="pe-7s-shopbag" style="padding-right:10px"></i><span>Thêm vào giỏ hàng</span>
                                </button>
                                
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>