@model IEnumerable<EcomartVietNam.Models.Category>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section addcss{
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/Areas/Asset/css/bootstrap-datetimepicker.min.css" />

    <!-- Datatables CSS -->
    <link rel="stylesheet"
          href="~/Areas/Asset/plugins/datatables/datatables.min.css" />
}



<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Quản lý danh mục</h3>
            </div>
            <div class="col-auto">
                <a href="@Url.Action("Create", "Managecategory")"
                   class="btn btn-primary ml-3">
                    <i class="fas fa-plus"></i> Thêm danh mục
                </a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Start alert -->
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div style="display: none" id="deletee" class="alert alert-danger text-center" role="alert"></div>
        </div>
        <div class="col-4"></div>

    </div>
    <!-- End alert -->

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>Mã</th>
                                    <th>Tên danh mục</th>
                                    <th>Ngày chỉnh sửa</th>
                                    <th class="text-right">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.category_id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.category_name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.updated_at)</td>
                                        <td class="text-right">
                                            <a href="@Url.Action("Update", "ManageCategory", new { id = item.category_id })"
                                               class="btn btn-sm bg-success-light mr-2">
                                                <i class="far fa-edit mr-1"></i> Sửa
                                            </a>
                                            <a data-id="40"
                                               href="javascript:void(0);"
                                               class="
                                                btn btn-sm
                                                bg-danger-light
                                                mr-2
                                                delete_review_comment
                                                "
                                               data-toggle="modal"
                                               data-target="#model-@item.category_id">
                                                <i class="far fa-trash-alt mr-1"></i> Xoá
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
@foreach (var item in Model)
{
    <div class="modal fade"
         id="model-@item.category_id"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận?</h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có muốn xoá bản ghi này?</div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Không
                    </button>
                    <button onclick="handleDelete(@item.category_id, `@item.category_name`)" type="button" class="btn btn-primary">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
}




<script>
    const handleDelete = async (id, name) => {

        const response = await fetch(`/admin/Managecategory/Delete?id=${id}`, {
            method: 'POST',
        });

        const data = await response.json();

        if (data) {
            window.location.reload();
        } else {
            $(`#model-${id}`).modal("hide");
            toastr.error('Lỗi khi xoá danh mục', 'Lỗi')
        }
    }
</script>